<?xml version="1.0" encoding="UTF-8"?>
<menu>
    <category id="1" name="Холодные закуски">
        <food id="1.1">
            <photo>"www.example.ru"</photo>
            <name>Ассорти рыбное</name>
            <description>Слабосоленая форель, семга</description>
            <portion>100/20/15</portion>
            <price></price>
        </food>
        <food id="1.2">
            <photo>"www.example.ru"</photo>
            <name>Тарталетки с красной икрой</name>
            <description>Тарталетки с красной икрой</description>
            <portion>60/50</portion>
            <price></price>
        </food>
        <food id="1.3">
            <photo>"www.example.ru"</photo>
            <name>Закуска по-русски</name>
            <description>Кусочки атлантической сельди с отварным картофелем, луком, лимоном и зеленью</description>
            <portion>70/50/210</portion>
            <price></price>
        </food>
        <food id="1.4">
            <photo>"www.example.ru"</photo>
            <name>Ассорти баклажаны</name>
            <complexDescription>
                <header>Жареные баклажаны с помидорами</header>
                <addition>c помидорами</addition>
                <addition>с чесноком</addition>
                <addition>с орехами</addition>
            </complexDescription>
            <portion>70/50/210</portion>
            <complexPrice></complexPrice>
        </food>
        <food id="1.5">
            <photo>"www.example.ru"</photo>
            <name>Фестиваль салатов</name>
            <description></description>
            <portion>400/10</portion>
            <price></price>
        </food>
        <food id="1.6">
            <photo>"www.example.ru"</photo>
            <name>Лимон</name>
            <description></description>
            <portion>60</portion>
            <price></price>
        </food>
    </category>
    <category id="2" name="Горячие закуски">
        <food id="21">
            <photo>"www.example.ru"</photo>
            <name>Ломбио с шампиньонами</name>
            <description>Фасоль с шампиньонами и грецким орехом</description>
            <portion>150/5</portion>
            <price>105</price>
        </food>
        <food id="22">
            <photo>"www.example.ru"</photo>
            <name>Жульен</name>
            <complexDescription>
                <header></header>
                <addition>с курицей</addition>
                <addition>с грибами</addition>
            </complexDescription>
            <portion>120/1</portion>
            <complexPrice>
                <price>1.145</price>
                <price>2.155</price>
            </complexPrice>
        </food>
        <food id="23">
            <photo>"www.example.ru"</photo>
            <name>Ахтамар мясной</name>
            <description>Колбаса, ветчина, буженина, сыр, запеченные на мангале в лаваше</description>
            <count>1 шт.</count>
            <price>165</price>
        </food>
        <food id="24">
            <photo>"www.example.ru"</photo>
            <name>Сюрприз</name>
            <description></description>
            <count>1 шт.</count>
            <price>260</price>
        </food>
        <food id="25">
            <photo>"www.example.ru"</photo>
            <name>Эскарго</name>
            <description>Виноградные улитки, фаршированные по бургундски</description>
            <count>12 шт.</count>
            <price>230</price>
        </food>
    </category>
    <category id="3" name="Завтраки">
        <food id="31">
            <photo>"www.example.ru"</photo>
            <name>Глазунья</name>
            <description>2 яйца(на выбор: ветчина, сыр, помидоры)</description>
            <portion>150</portion>
            <price></price>
        </food>
        <food id="32">
            <photo>"www.example.ru"</photo>
            <name>Омлет</name>
            <description></description>
            <portion>100</portion>
            <price></price>
        </food>
        <food id="33">
            <photo>"www.example.ru"</photo>
            <name>Блинчики с мясом</name>
            <description>Жаренные блинчики с мясом</description>
            <portion>150</portion>
            <price></price>
        </food>
    </category>
</menu>